body, html 
{   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
    
}
body 
{
    display:table-cell;
    vertical-align:middle;
}
form 
{
    display:table;
    margin:auto;
}
#LoginForm
{
    border: solid;
    border-width: 10px;
    border-color: black;
    background-color:gray;
    padding-right: 150px;
    padding-left: 10px;
}

p
{
    font-size:  13px;
    font-family: sans-serif;
    color: white;
    margin-left: 0.2cm;
}

label
{
    font-size: 13px;
    font-family: sans-serif;
    color: whitesmoke;
    margin-left: 0.5cm;
}

#login
{
    margin-left: 85px;
    width: 1.5in;
}

#inPass
{
    margin-left: 59px;
    width: 1.5in;
}

#conPass
{
    margin-left: 10px;
    width: 1.5in;
}

#email
{
    margin-left: 83px;
    width: 1.5in;
}

#gender
{
    margin-left: 69px;
    width: 1.54in;
}

#register
{
    margin-left: 0.5cm;
    padding-top: 5px;
    padding-bottom: 5px;
}


